<p style="color: green"><%= notice %></p>

<h1>Addcards</h1>

<div id="addcards">
  <% @addcards.each do |addcard| %>
    <%= render addcard %>
    <p>
      <%= link_to "Show this addcard", addcard %>
    </p>
  <% end %>
</div>

<%= link_to "New addcard", new_addcard_path %>
