/* Project Section */
.project-icon {
  width: 15px;
  height: 15px;
  margin-left: 10px;
}

.project-icon:hover {
  cursor: pointer;
}

.new-project {
  text-align: center;
  font-weight: bold;
  padding: 10px 0;
  border: 3px dashed gray;
}

.new-project:hover {
  background-color: rgb(193, 191, 191);
}

.assigned-pics {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.assigned-pics:hover {
  cursor: pointer;
  transform: scale(5);
}

.assigned-circle {
  display: flex;
  background-color: #172b4d;
  border-radius: 50%;
  padding: 2px;
  height: 25px;
  width: 25px;
  cursor: pointer;
  margin-left: 5px;
}

.assigned-circle-inner {
  font-size: 12px;
  margin: auto;
  color: white;
  font-family: 'Roboto', sans-serif;
}