<div class="login_bg">
  <h1 class="login-title">CEM KanBan Board</h1>
  <div class="login_container">
    <p>Welcome to CEM Board</p>
    <div>
    <%= button_to "Login", dashboard_path, method: :get, class:"continue-btn" %>
    <%= button_to "Can't log in? - Sign up for an account", new_user_registration_path, method: :get, class:"signup-btn" %>
    </div>
  </div>

</div>