<div id="<%= dom_id create_board %>">
  <p>
    <strong>Board title:</strong>
    <%= create_board.board_title %>
  </p>

  <p>
    <strong>Board desc:</strong>
    <%= create_board.board_desc %>
  </p>

</div>
