<h1>Editing create board</h1>

<%= render "form", create_board: @create_board %>

<br>

<div>
  <%= link_to "Show this create board", @create_board %> |
  <%= link_to "Back to create boards", create_boards_path %>
</div>
