<table class="table table-hover text-center">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Task Name</th>
      <th scope="col">Duration</th>
      <th scope="col">Start</th>
      <th scope="col">Finish</th>
      <th scope="col">Assigned To</th>
      <th scope="col">% Complete</th>
      <th scope="col">Status</th>
      <th scope="col">Remarks</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <%= image_tag ("message.png"), class:"project-icon" %>
        <%= image_tag ("edit.png"), class:"project-icon" %>
        <%= image_tag ("delete.png"), class:"project-icon" %>
      </td>
      <td>text</td>
      <td>number of days</td>
      <td>date</td>
      <td>date</td>
      <td>select email</td>
      <td>select %</td>
      <td>select status</td>
      <td>text</td>
    </tr>
  </tbody>
</table>