/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /* Dashboard */
  body {
    overflow: hidden;
  }
  .title-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .title {
    font-family: 'Rowdies', cursive;
  }
  .your-boards {
    font-family: 'Roboto', sans-serif;;
    font-weight: 500;
    margin-top: 1rem;
    margin-left: 1rem;
  }
  .page-line {
    border: 1px inset;
    margin: 0 1rem;
  
  }
  .board-con {
    background-color: #fafbfc;
    min-height: 100vh;
    min-width: 100vw;
    
  }
  .create-board {
    font-size: 1.2rem;
    background-color: #0067a3;
    color: white;
    width: 230px;
    height: 125px;
    padding: .5rem;
    margin-left: 1rem;
    border-radius: 3px;
    
   }
  .create-board:hover {
    cursor: pointer;
  }
  .three-dots {
    position: relative;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    padding: .7rem;
    
  }
  .three-dots:hover {
    color: white;
    background-color: #0b80c4;
  }
  .board-line {
    color: black;
    border: 1px inset;
    margin: 0 10px;
  
  }
  .link-cards {
    text-decoration: none;
    color: white;
  }
  .link-cards:hover {
    color: white;
  }
  .dots-modal {
    position: absolute;
    right: 5px;
    top: 43px;
    z-index: 9;
    background-color:white;
    padding: 5px;
    border-radius: 7px;
    box-shadow: 0 0 1px 1px rgb(206, 206, 206);
  }
  .host-modal {
    width: max-content;
    position: absolute;
    right: 5px;
    top: 50px;
    z-index: 9;
    background-color:white;
    color: black;
    font-weight: bold;
    padding: 5px;
    border-radius: 7px;
    box-shadow: 0 0 1px 1px rgb(206, 206, 206);
  }
  .down-pic-con {
    display: flex;
    width: 100%;
    height: 100%;
  } 
  .down-pic {
    width: 20px;
    height: 20px;
    margin: auto;
  }

  /* Create Board */
  .board-title {
    color: white;
    text-decoration: none;
    margin-left: .5rem;
  }
  .board-title:hover {
    color: white;
  }
  .edit-board-con {
    color: white;
    position: relative;
    top: 2rem;
    width: max-content;
    padding: 2rem;
    background-color: #026299;
    border-radius: 5px;
  }
  .editboard-outer{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    min-height: 100vh;
    min-width: 100vw;
    background-color: #fafbfc;
    background-color: rgba(0,0,0,.5);

  }

  /* Cards */
  .card_container {
    display: flex;
    min-width: 100vw;
    height: 90vh;
    overflow-x: auto;
  }
 .add_list_btn {
   color: white;
   background-color: #026299;
   border-radius: 5px;
   padding: 1em;
   height: min-content;
   min-width: 250px;
   margin: 0 .5rem;
   transition: height 2s;
 }
 .add_list_btn:hover{
  color:white;
  cursor: pointer;
  background-color: #4997c7;
 }
 .new_card {
  width: 760px;
  min-height: 900px;
  max-height: 900px;
  padding: 20px;
  background-color: #ebecf0;
  border-radius: 5px;
  overflow-y: auto;
 }
 .card-heading{
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
 }
 .addcards_X{
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
  color:black;
  padding: .5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
 }
 .addcards_X:hover {
  background-color: #ddddddd7;
 }
 .input_border {
  border-color: blue;
  padding: 5px 10px;
  border-radius: 3px;
 }
 #card-input {
  text-align: left;
 }
 .card_bg {
  width: 320px;
  height: min-content;
  padding: 1em;
  background-color: #ebecf0;
  margin-left: 1em;
  border-radius: 5px;
 }
 .card_title{
  color: black;
  text-decoration: none;
 }
.toggleAddCard {
  display: none;
  width: 15%;
  padding: 1em;
  height: min-content;
  background-color: #ebecf0;
  margin: 0 .5rem;
  border-radius: 5px;
}

/* Login Page */
.login_bg {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ebecf0;
  width: 100vw;
  height: 100vh;
  padding-top: 2em;

}
.login-title {
  color: #253858;
  font-weight: 700;
}
.login_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  padding: 2em 5em;
  border-radius: 2px;
  box-shadow: 0 0 5px 5px rgb(153, 146, 146);
  margin-top: 2em;
}
.login_container p {
  color:#5e6c84;
  font-weight: 500;
}
.continue-btn {
  width: 100%;
  color: white;
  background-color: #5aac44;
  padding: 0.5rem 0;
  border: 1px;
  border-radius: 7px;
  font-weight: 700;
}
.signup-btn {
  color: blue;
  width: 100%;
  border:0;
  background-color: #ffffff;
  margin-top: 3em;
  font-weight: 200;

}
.back-btn {
  color: blue;
}
/* Navbar */
.navbar {
  position: fixed;
  width: 100vw;
  height: 65px;
  font-family: 'Roboto', sans-serif;
  background-color: #ebecf0;
  border-bottom: solid white 2px;
}
.cem-logo {
  display: flex;
  width: 30px;
  height: 30px;
}
.cem-kanban {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.cem-kanban:hover {
  color: white;
}
.create-btn {
  text-decoration: none;
  color: white;
}
.create-btn:hover {
  color: white;
}
.nav-element {
  color: black;
  font-weight: bold;
  text-align: center;
  padding: .5rem 1rem;
  border-radius: 5px;
  margin: auto;
  text-decoration: none;

}
.nav-element:hover {
  background-color: #0067a3;
  cursor: pointer;
}
.search-bar {
  background-color: white;
  font-size: 1rem;
  border: 0;
  border-radius: 7px;
  padding-left: 10px;
}
.logout {
  margin-left: 5px;
}
.user-log {
  color: white;
  display: flex;
  align-items: center;
  background-color: #0067a3;
  border-radius: 5px;
  padding: 5px 10px;
  margin-left: 5px;

}
.create-relative {
  position: relative;
  margin-left: 1rem;
  display: flex;
  align-items: center;
}
.new-board {
  position: absolute;
  top: 50px;
  color: black;
  background-color:white;
  padding: 1rem;
  border-radius: 8px;
  z-index: 9;
  box-shadow: 0 0 1px 1px rgb(206, 206, 206);
}
/* Add Card feature */
.addcard-outercon {
  max-height: 70vh;
  overflow-y: auto;
}
.card-con {
  display: flex;
  justify-content: space-between;
}
.addcard-right {
  border: solid 1px rgb(161, 161, 161);
  border-radius: 5px;
  width: 100px;
}
.addcard {
  padding: 6px 12px;
  width: 100%;
  color: gray;
  font-family:Roboto ;
  font-weight: 400;
}
.addcard:hover {
  cursor: pointer;
   color: black;
   background-color: #dbdde0;
   border-radius: 5px;
}
.addcard-pencon {
  width: 30px;
  height: 30px;
  float: right;
  position: relative;
}
.addcard-pencon:hover {
  cursor: pointer;
}
.addcard-penbox {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
}
.addcard-pencil {
  display: flex;
  width: 100%;
  height: 100%;
  display: none;
} 
.addcard-pen {
  width: 15px;
  height: 15px;
  margin: auto;
}
.addcard-penbox:hover + .addcard-pencil{
  display: flex;
}


/* Add Card section */
.addcard-con {
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 5px;
  margin-top: .7rem;
  height: 100px;
  cursor: pointer;
 }
 .addcard-name {
  text-decoration: none;
  color: black;
 }
 .edit-desc{
  background-color: #ddddddd7;
  padding:5px 1rem;
  border-radius: 5px;
  margin-left: .6rem;
  cursor: pointer;
 }
 .edit-desc:hover{
  background-color: #b9b9b9d7;
 }
 .present{
  font-weight: bold;
  background-color: #079732d7;
  padding:5px 1rem;
  border-radius: 5px;
  margin-left: .6rem;
  cursor: pointer;
  border: none;
 }
 .present:hover{
  color: white;
  background-color: #25b309d7;
 }
 .desc-area {
  min-height: 100px;
  margin-left:43px
 }
 .save-desc {
  font-size: 1rem;
  color: white;
  background-color: #0079bf;
  padding: 6px 1rem;
  border-radius: 5px;
  cursor: pointer;
  border: none;
 }
 .save-desc:hover {
  background-color: #026299;  
 }
 .cancel-desc {
  font-size: 1rem;
  color: black;
  padding: .5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
 }
 .cancel-desc:hover {
  background-color: #ddddddd7;
 }
 .form-con {
  width: 100%;
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 5px;
  margin-top: .7rem;
  min-height: 80px;
  border: none;
 }
 /* Comments Section */
  .comment-header {
    display: flex;
    align-items: flex-start;
  }
  .comment-field {
    width: 500px;
    height: 40px;
    max-height: 300px;
    border: none;
    padding: 0.3rem 1rem;
    border-radius: 3px;
    box-shadow: 0 0 1px 1px rgb(206, 206, 206);
    margin-left: 10px;
  }
  .comments-list {
    width: 550px;
    background-color: white;
    padding: 1rem;
    border-radius: 3px;
    box-shadow: 0 0 1px 1px rgb(206, 206, 206);
  }
  .circle {
    display: flex;
    background-color: #172b4d;
    border-radius: 50%;
    padding: 5px;
    height: 35px;
    width: 35px;  
  }
  .circle-inner {
    margin: auto;
    color: white;
    font-family: 'Roboto', sans-serif;
  }