/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
  .card_container {
    display: flex;
  }
 .add_list_btn {
   color: white;
   text-decoration: none;
   background-color: #3d88b5;
   border-radius: 5px;
   padding: 1em;
   height: min-content;
   width: 15%;
   margin: .5em;

 }
 .new_card {
  width: fit-content;
  padding: 0.5em;
  background-color: #ebecf0;
  border-radius: 5px;
 }
 .input_border {
  border-color: blue;
  padding: 5px 10px;
 }
 .card_bg {
  width: 15%;
  padding: 1em;
  background-color: #ebecf0;
  margin-left: 1em;
  border-radius: 5px;
 }
 .card_title:hover{
  cursor: pointer;
 }

/* Login Page */
.login_bg {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ebecf0;
  width: 100vw;
  height: 100vh;
  padding-top: 2em;

}
.login-title {
  color: #253858;
  font-weight: 700;
}
.login_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  padding: 2em;
  border-radius: 2px;
  box-shadow: 0 0 5px 5px rgb(153, 146, 146);
  margin-top: 2em;
}
.login_container p {
  color:#5e6c84;
  font-weight: 500;
}
.continue-btn {
  width: 100%;
  color: white;
  background-color: #5aac44;
  padding: 0.5rem 0;
  border: 1px;
  border-radius: 7px;
  font-weight: 700;
}
.signup-btn {
  color: blue;
  width: 100%;
  border:0;
  background-color: #ffffff;
  margin-top: 3em;
  font-weight: 200;

}
.back-btn {
  color: blue;
}

